/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #b85e22;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tracking-info {
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.success-message {
    color: #4CAF50;
    font-weight: bold;
}

.tracking-status {
    margin-top: 20px;
}

.status-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.status-item i {
    margin-right: 10px;
    color: #007bff; /* blue color for icons */
}

.status-item div {
    color: #666;
}
